.heading{
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif ;
    margin: auto;
    background-color: aliceblue;
    text-align: center;
    font-size:xx-small;
}
p {
    color: rgba(66, 8, 239, 0.882);
    text-align: center;
}
.note{
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    margin: auto;
    width: 630px;
    height: 12px;
    background-color:rgb(116, 220, 255) ;
    border-radius: 5px;
   text-align: center;
   font-size:15px;
}
.terms{
    font-family:'Times New Roman', Times, serif;
 border-radius: 5px;
 font-size: medium;
}
.checkbox
{
    color:black;
    position: relative;
    right: 175px;

}
.next
{  
   background-color: #2de840c3;
   border-radius: 3px;
   position: relative;
   left: 190px;
   width: 280px;
   height:25px ;
}
.button
{
    align-items: self-end;
}
img{
    position: relative;
    top: 45px;
    right: 290px;
}